<!DOCTYPE html>
<html lang="en">
<head>
    <style> body {background-color: lightseagreen; text-align: center;} h1 {color: blue;} p {border: 1px solid powderblue;padding: 30px;}  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to MovieMania! </p>
    <a href='/search'>Search for movies</a><br><br>
    <form action="/logout" method="POST">
        <a href='/home'>My Profile</a><br><br>
        <button>Logout</button>
    </form> 

</body>
</html>